/* Universal */
body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  color: white;
}

ul {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Beth Ellen', serif;

}

p {
  font-size: 1.2em;
}

/* Navigation */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  border-bottom: 1px solid #dddddd;
  left: 0px;
  
  /* padding: 0px 30px 10px 0px; */
  position: fixed;
  
  top: 0px;
  width: 100%;
  /* height: 100px;  */
  z-index: 999;
}
.navigation > a {
  /* flex: 1; */
  padding: 10px;
  /* background-color: aqua; */
}

.navigation > .logo {
  flex: 3;
  padding-left: 20px;
}


.mission-nav, 
.feature-nav, 
.location-nav,
.contact-nav {
  text-align: center;
}

.navigation a {
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffb1a0;
}

a.logo {
  color: whitesmoke;
  background-color: black;
  font-family: 'Beth Ellen', serif;
  font-size: 20px;
}

/* Jumbotron */

.banner {
  background-image: url("./images/img-overlook-tea.jpg");
  background-position: center top;
  background-size: cover;
  border-bottom: 1px solid #dddddd;
  height: 700px;
  position: relative;
  text-align: center;
  /* top: 100px; */
  width: 100%;
}

.banner-text {
  position: relative;
  top: 50%;
  background-color: #00000080;
  border: 1px solid #000000;
  font-family: 'Josefin Slab', serif;
  font-weight: 200;
  padding-bottom: 5px;
}

.banner h1 {
  font-family: 'Beth Ellen', serif;
}

/* Mission */
.mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  text-align: center;
  width: 100%;
  height: 700px;
  color: black;
  border-bottom: 1px solid #dddddd;

  align-items: center;
  background-image: url("./images/img-teaspoon-tealeaves.jpg");

  background-position: bottom right;
  background-size:cover;
}

.mission p {
  font-family: 'Josefin Slab', serif;
  line-height: 1.2;
}

.text_item div {
  background-color: #c2a3bb;
  padding: 20px;
  margin: 50px 30px;
  max-width: 375px;
  max-height: 375px;
  border: 1px solid #dddddd;

}

/* Feature */
.feature {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  background-color: #5d3737;
  text-align: center;
  width: 100%;
  min-height: 700px;
  border-bottom: 1px solid #dddddd;
}

.feature .header {
  width: 100%;
  height: 90px;
  padding-top: 40px;
  padding-bottom: 5px;
  line-height: 1.0;
}

.feature_container {
  display: flex;
  flex-wrap: wrap;
  /* left: 100px; */
  width: 90%;
  /* display: flex; */
  align-content: start;
  /* padding-left: 15%; */
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.feature h3,
p {
  font-family: 'Josefin Slab', serif;
  padding-bottom: 5px;
}

.feature span {
  font-family: 'Beth Ellen', serif;
}

.feature_item {
  height: 200px;
  width: 300px;
  padding: 0px 10px 40px 10px;
  margin: 10px;
}

.feature_item img {
  width: 300px;
}

/* Locations */
.locations {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 600px;
  background-image: url(./images/img-locations-background.jpeg);
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid #dddddd;
}

.location_header {
  width: 100%;
  height: 50px;
  padding: -10px;
  line-height: 1.0;
}

.location_container {
  display: flex;
  flex-wrap: wrap;
  /* left: 100px; */
  width: 100%;
  align-content: start;
  /* padding-left: 15%; */
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.location_item {
  background-color: #00000080;
  margin: 20px;
  height: 300px;
  width: 300px;
}

.locations h3 {
  font-family: 'Beth Ellen', serif;
  font-size: 1.8em;
}

.locations p {
  line-height: 2;
  font-weight: 600;
  font-size: 1.5em;
}

/* Contact */
.contact {
  display: flex;
  height: 250px;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact p{
  line-height: 1.2;
}
footer {
  font-family: 'Josefin Slab', serif;
padding: 20px;
}